@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4gaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVc.ttf) format('truetype');
}
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #333;
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center .rounds {
  position: absolute;
  width: 82px;
  height: 165px;
  top: 17px;
  left: 101px;
}
.center .rounds .round2 {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 50%;
}
.center .round {
  position: absolute;
  width: 194px;
  height: 194px;
  background-color: transparent;
  border-radius: 50%;
  fill: none;
  stroke: red;
  stroke-width: 3px;
  stroke-dasharray: 924;
  stroke-dashoffset: 231;
  transform: rotate(-90deg);
  animation: stroke 10s infinite;
}
.center .bg {
  background-color: black;
  position: absolute;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 10px grey solid;
}
.center .bg .Days {
  position: absolute;
  top: 50px;
  left: 30px;
  font-size: 20px;
}
.center .bg .timer {
  position: absolute;
  top: 65px;
  left: 22px;
  font-size: 40px;
}
.center .bg .Fav {
  position: absolute;
  top: 110px;
  left: 28px;
  font-size: 20px;
}
.center .fa {
  color: red;
  animation: sc 0.5s infinite;
}
@keyframes sc {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes stroke {
  from {
    stroke-dashoffset: 924;
  }
  50% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -924;
  }
}
