@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4gaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVc.ttf) format('truetype');
}
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center input[type="radio"] {
  opacity: 0;
  cursor: pointer;
}
.center .bg {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: #3498db;
  top: -200px;
  left: -1000px;
  transition: 0.5s linear;
  border-left: 400px solid #9b59b6;
  border-right: 400px solid #1abc9c;
  z-index: -1;
}
.center #check1 {
  position: absolute;
  top: -14px;
  left: -64px;
  width: 40px;
  height: 40px;
}
.center #check1:checked ~ .bg {
  left: -200px;
}
.center #check1:checked ~ .active {
  left: -54px;
}
.center #check2 {
  position: absolute;
  top: -14px;
  left: -14px;
  width: 40px;
  height: 40px;
}
.center #check2:checked ~ .bg {
  left: -600px;
}
.center #check2:checked ~ .active {
  left: -4px;
}
.center #check3 {
  position: absolute;
  top: -14px;
  left: 36px;
  width: 40px;
  height: 40px;
}
.center #check3:checked ~ .bg {
  left: -1000px;
}
.center #check3:checked ~ .active {
  left: 46px;
}
.center .rd {
  z-index: 0;
  left: 115px;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}
.center .rd-1 {
  position: absolute;
  top: -12px;
  left: -61px;
}
.center .rd-2 {
  position: absolute;
  top: 0px;
  top: -12px;
  left: -11px;
}
.center .rd-3 {
  position: absolute;
  top: 100px;
  top: -12px;
  left: 39px;
}
.center .active {
  background-color: white;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  top: -6px;
  left: -54px;
  z-index: -1;
  transition: 0.5s ease;
}
