@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4gaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVc.ttf) format('truetype');
}
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #FDA231;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
.frame .list {
  background-color: white;
  position: absolute;
  top: 60px;
  left: 73px;
  width: 218px;
  height: auto;
  padding: 20px;
}
.frame .list-todos-item {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.5s ease-out;
}
.frame .list-todos-item-check {
  position: absolute;
  top: 111px;
  left: 220px;
  stroke: #C8D4D9;
  fill: none;
  stroke-width: 1.5;
  stroke-dasharray: 30 30;
  stroke-dashoffset: 30;
  transition: all 0.5s ease-out;
}
.frame .list-todos-item-check-check1 {
  position: absolute;
  top: 111px;
  left: 220px;
  stroke: #C8D4D9;
  fill: none;
  stroke-width: 1.5;
  stroke-dasharray: 30 30;
  stroke-dashoffset: 30;
  transition: all 0.5s ease-out;
  top: 153px;
}
.frame .list-todos-item-check-check2 {
  position: absolute;
  top: 111px;
  left: 220px;
  stroke: #C8D4D9;
  fill: none;
  stroke-width: 1.5;
  stroke-dasharray: 30 30;
  stroke-dashoffset: 30;
  transition: all 0.5s ease-out;
  top: 195px;
}
.frame .list-todos-item-check-check3 {
  position: absolute;
  top: 111px;
  left: 220px;
  stroke: #C8D4D9;
  fill: none;
  stroke-width: 1.5;
  stroke-dasharray: 30 30;
  stroke-dashoffset: 30;
  transition: all 0.5s ease-out;
  top: 235px;
}
.frame .list-todos-item-round-1 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 151px;
  left: 221px;
  border: 2px solid #C8D4D9;
  border-radius: 50%;
  transition: all 0.5s ease-out;
  top: 109px;
}
@keyframes op {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes op2 {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.frame .list-todos-item-round-2 {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 221px;
  border: 2px solid #C8D4D9;
  border-radius: 50%;
  transition: all 0.5s ease-out;
  top: 151px;
}
@keyframes op {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes op2 {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.frame .list-todos-item-round-3 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 151px;
  left: 221px;
  border: 2px solid #C8D4D9;
  border-radius: 50%;
  transition: all 0.5s ease-out;
  top: 193px;
}
@keyframes op {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes op2 {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.frame .list-todos-item-round-4 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 151px;
  left: 221px;
  border: 2px solid #C8D4D9;
  border-radius: 50%;
  transition: all 0.5s ease-out;
  top: 233px;
}
@keyframes op {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes op2 {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
